<!-- Intro -->
<div class="jumbotron text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 hidden-xs">
        <img src="<%=image_path('iuf_logo.png')%>" class="img-responsive">
      </div>
      <div class="col-sm-10">
        <h1 class="text-right">breweryworker.org</h1>
        <p class="text-right"><%= t('.bringing_together') %></p>
        <p>
          <%= link_to t('.request_invitation'), new_help_request_invite_path, class: "btn btn-large btn-default pull-right" %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2><%= t('.share_info_heading') %></h2>
      <p><%= t('.share_info_text') %></p>
    </div>
    <div class="col-sm-4">
      <h2><%= t('.chat_heading') %></h2>
      <p><%= t('.chat_text') %></p>
    </div>
    <div class="col-sm-4">
      <h2><%= t('.organise_heading') %></h2>
      <p><%= t('.organise_text') %></p>
    </div>
  </div>
</div>
<hr/>
