
<div class="col-sm-8 col-sm-offset-2"/>
	<h1 style="margin-left:0px">Chat</h1>
	
	<div id="chatlog" class="left" style="overflow-y:auto;border-top: 1px solid #aaa;">
		<div id="chat">
			<div id="load_here"></div>
		  <%= render @messages %>
		</div>
	</div>
	
	<div id="post_area">
		<%= form_for Message.new(person_id: current_person.id, display_name: current_person.display_name), remote: true do |f| %>
			<div>
		  	<%= f.text_area :body, style: 'border: 1px solid #aaa' %>
			</div>
		  <%= f.hidden_field :person_id %>
		  <%= f.hidden_field :display_name %>
		  <div>
		  	<%= f.submit "Send" %>
		  </div>
		<% end %> 
	</div>
</div>
<%= subscribe_to "/messages/new", person_id: current_person.id, person_handle: current_person.display_name %>
<%= subscribe_to "/messages/new/presence" %>

<script type="text/javascript">
	
	function resize() {
		$(".left").height(window.innerHeight-230 /* TODO calculate size of header and footer */ + 'px');
		$('#message_body').width(($('#chatlog').width())+'px');
		var height = document.getElementById("chatlog").scrollHeight - $('#chatlog').height(); 
		$('#chatlog').scrollTop(height);
	}

	function localise_time() {
		$("span[data-time]").each(function() {
			$(this).html(new Date($(this).data('time')).toString());
		});
	}

	function chat_ready() {
		resize();	
		localise_time();
		Secpubsub.connection_lost = function () {
			$('#post_area').html('<strong>CONNECTION LOST! Please refresh the page.</strong>');
		}
		Secpubsub.set_callback('/message/new/presence', function (message) {
				alert(message);
		});
	}

	$(document).ready(chat_ready);
  $(document).on('page:load', chat_ready);

  $(window).resize(resize);	
  
  $('#chatlog').scroll(function(){ 
  	
  	if ($(this).scrollTop()==0) {
  		last_message_time = $("span[data-time]").first().data('time');

  		//$('#load_here').html("Loading...");
  			
  		if ($('#load_here').text() != "Loading...") {
  			$('#load_here').text('Loading...');
  			
	  		$.ajax({ 
	  			url: "messages.json",
	  			data:  {last_message_time: last_message_time}, 
	  			dataType: 'html',
	  			success: function(data) {
			  		$('#load_here').text('');
			  		$('#load_here').after(data);
					}, 
					error: function(data) {
						$('#load_here').text('an error occurred loading more messages');
					}
				});
			}
  	};
  })
	
</script>
