
<div class="col-sm-8 col-sm-offset-2"/>
	<h1 style="margin-left:0px">Chat</h1>
	
	<div id="chatlog" class="left" style="overflow-y:auto;border-top: 1px solid #aaa;">
		<div id="chat">
		  <%= render @messages %>
		</div>
	</div>
	
	<%= form_for Message.new(person_id: current_person.id, display_name: current_person.display_name), remote: true do |f| %>
		<div>
	  	<%= f.text_area :body, style: 'border: 1px solid #aaa' %>
		</div>
	  <%= f.hidden_field :person_id %>
	  <%= f.hidden_field :display_name %>
	  <div>
	  	<%= f.submit "Send" %>
	  </div>
	<% end %> 
</div>
<%= subscribe_to "/messages/new" %>
<script type="text/javascript">
	
	function resize() {
		$(".left").height(window.innerHeight-230 + 'px');
		$('#message_body').width(($('#chatlog').width())+'px');
		var height = document.getElementById("chatlog").scrollHeight - $('#chatlog').height(); 
		$('#chatlog').scrollTop(height);
	}


	function chat_ready() {
		resize();	
	}
	$(document).ready(chat_ready);
  $(document).on('page:load', chat_ready);

  $(window).resize(resize);	
	
</script>
