<%= form_for(@rec, url: recs_path(division_id: @division.id), :html => { class: "form"}) do |f| %>
  <% if @rec.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rec.errors.count, "error") %> prohibited this rec from being saved:</h2>

      <ul>
      <% @rec.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :attachment %><br>
    <%= f.file_field :attachment %>
  </div>
  
  <div id="division-select2" class="form-group">
    <%= f.label :divisions %>
    <%= f.select :divisions,
      options_from_collection_for_select(
        @rec.divisions, :id, :name, @rec.divisions.map(&:id)
      ),
      {
        include_blank: false,
      },
      multiple: true,
      data: {
        url: divisions_path,
      },
      class: "ac-select2-multi form-control",
      style: "width: 100%;"
    %>
  </div>
  
  <div class="form-group">
    <%= f.label :company_id %> <%=link_to t('.new_company'), new_polymorphic_path(Company, division_id: @division.id), placeholder: "Please select a company.",
        class: "small", :target => "_blank"%><br>
    <%= f.select :company_id, 
      selected_option(@rec.company),
      #options_for_select(Union.all.collect {|u| [u.name, u.id ]}, @rec.union_id) , 
      {
        include_blank: false,
      },
      data: { 
        url: companies_path(division_id: @division.id)
      }, 
      class: "ac-select2 form-control", 
      style: "width: 100%;"
    %>
  </div>

  <div class="form-group">
    <% if owner? %>
      <%= f.label :union_id %> <%=link_to t('.new_union'), new_polymorphic_path(Union, division_id: @division.id), class: "small", :target => "_blank"%><br>
      <%= f.select :union_id, 
        selected_option(@rec.union),  
        {
          include_blank: false,
        },
        data: { 
          placeholder: t('.select_union'),
          url: unions_path(division_id: @division.id)
        }, 
        class: "ac-select2 form-control", 
        style: "width: 100%;"
      %>
    <% else %>
      <%= f.label :union_id %> 
      <br/><%= (@rec.union || current_person.union).name %>
      <br/><small>you can only create and edit agreements belonging to your union</small>
      <%= f.hidden_field :union_id, value: ((@rec.union || current_person.union).id) %>
    <% end %>

  </div>
<!--
  <div class="form-group">
    <%= f.label :taking_action %><br>
    <%= f.check_box :taking_action, class: "switch", :data => { :size => 'small', 'on-text'=>'On', 'off-text'=>'Off', 'on-color'=>'danger'} %>
  </div>
-->
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control", placeholder: t('.name_description') %>
  </div>
  
  <div class="form-group">
    <%= f.label :person_id %> <%=link_to "invite person", new_person_invitation_path, class: "small", :target => "_blank"%><br>
    <%= f.select :person_id,
      selected_option(@rec.person),
      {
        include_blank: false,
      },
      data: { 
        placeholder: t('.person_description'),
        url: people_path(@division)
      }, 
      class: "ac-select2 form-control", 
      style: "width: 100%;"
    %>
  </div>

  <!--
  <div class="form-group">
    <%= f.label :tags %><br>
    <%= f.text_field :tags %>
  </div>
  -->
  <div class="form-group">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="form-group">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="form-group">
    <%= f.label :multi_site %><br>
    <%= f.check_box :multi_site, class: "switch", :data => l10n_switch_data %>
  </div>
  <div class="form-group">
    <%= f.label :coverage %><br>
    <%= f.text_area :coverage, class: "form-control", placeholder: t(".coverage_description") %>
  </div>
  <div class="form-group">
    <%= f.label :nature_of_operation %><br>
    <%= f.select :nature_of_operation,
      nature_of_operation_options, 
      {
        include_blank: true,
      },
      data: { 
        placeholder:  t(".nature_of_operation_description"),
      }, 
      multiple: true, 
      class: "ac-select2-tags form-control", 
      style: "width: 100%;"
    %>
  </div>
  <div class="form-group">
    <%= f.label :grievance_handling %><br>
    <%= f.check_box :grievance_handling, :data => l10n_switch_data %>
  </div>
  <div class="form-group">
    <%= f.label :grievance_handling_page %><br>
    <%= f.text_field :grievance_handling_page, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :grievance_handling_clause %><br>
    <%= f.text_area :grievance_handling_clause, class: "form-control", placeholder:  t(".grievance_handling_description")%>
  </div>
  <div class="form-group">
    <%= f.label :health_and_safety %><br>
    <%= f.check_box :health_and_safety, :data => l10n_switch_data %>
  </div>
  <div class="form-group">
    <%= f.label :health_and_safety_page %><br>
    <%= f.text_field :health_and_safety_page, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :health_and_safety_clause %><br>
    <%= f.text_area :health_and_safety_clause, class: "form-control", placeholder: t(".health_and_safety_description") %>
  </div>
  <div class="form-group">
    <%= f.label :anti_precariat %><br>
    <%= f.check_box :anti_precariat, :data => l10n_switch_data %>
  </div>
  <div class="form-group">
    <%= f.label :anti_precariat_page %><br>
    <%= f.text_field :anti_precariat_page, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :anti_precariat_clause %><br>
    <%= f.text_area :anti_precariat_clause, class: "form-control", placeholder: t(".anti_precariat_description") %>
  </div>
  <div class="form-group">
    <%= f.label :specific_rights %><br>
    <%= f.check_box :specific_rights, :data => l10n_switch_data %>
  </div>
  <div class="form-group">
    <%= f.label :specific_rights_page %><br>
    <%= f.text_field :specific_rights_page, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :specific_rights_clause %><br>
    <%= f.text_area :specific_rights_clause, class: "form-control", placeholder: t(".specific_rights_description") %>
  </div>
  <div class="form-group">
    <%= f.label :other_provisions %><br>
    <%= f.text_area :other_provisions, class: "form-control", placeholder: t(".other_provisions_description") %>
  </div>
  <div class="actions">
    <%= f.submit value: t('.save_agreement'), class: "btn btn-default"%>
  </div>
<% end %>

<script type="text/javascript">
  
  function rec_ready() {

    $('input[type=number]').bind('keypress', function (e) {
      return !(e.which != 8 && e.which != 0 &&
              (e.which < 48 || e.which > 57) && e.which != 46);
    });


    <% %w[grievance_handling anti_precariat health_and_safety specific_rights].each do |q| %>
      function toggle_<%= q %>() {
        if ($('#rec_<%= q %>').bootstrapSwitch('state')) {
          $('#rec_<%= q %>_page').parent().slideDown();
          $('#rec_<%= q %>_clause').parent().slideDown();
        } else {
          $('#rec_<%= q %>_page').parent().slideUp();
          $('#rec_<%= q %>_clause').parent().slideUp();
        }
      }  

      $('#rec_<%= q %>').bootstrapSwitch({
        onSwitchChange: toggle_<%= q %>
      });

      toggle_<%= q %>();  
    <% end %>
  }

  $(document).ready(rec_ready);
  $(document).on('page:load', rec_ready);
</script>
