<%= form_for(@person, url: profile_path(@person), html: { class: "form" }) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= render partial: 'form_fields', locals: { f: f } %>
  <div class="actions">
    <%= f.submit value: t('.save_profile'), class: "btn btn-default" %>
  </div>
<% end %>
