<% if notice.present? %>
  <p id="notice" class="alert alert-success text-center"><strong><%= notice %></strong></p>
<% end %>
<div class="outer-row">
  <div class="col-sm-8 col-sm-offset-2">
    <% unless @person.union.nil? %>
      <%= link_to @person.union.short_name + " #{t('.agreements')}", union_path(@person.union), class: "btn btn-default pull-right" %>
    <% end %>
    <h1>
      <%= "#{t('.editing')} #{profile_heading}" %>
      <br/><small><%= t('.only_visible_to', organisation: "#{owner_union.short_name}#{@person.union.id == owner_union.id ? "" : " & " + @person.union.short_name}") %></small>
    </h1>
    <%= render 'form' %>

    <hr/>
    <%= link_to t('.permanently_delete'),person_path(@person), method: :delete, class: "btn btn-danger", style: "margin: 15px; color: white", data: {confirm: "Are you really really sure?"} %>
  </div>
</div>
