<div class="col-sm-8 col-sm-offset-2"/>
  <p id="notice"><%= notice %></p>
  <%= link_to 'Invite someone', new_person_invitation_path, style: "margin-top: 15px" , class: "btn btn-default pull-right" %>
    <h2 class="no-left-margin">Listing People</h2>
    
    <table class="table table-condensed table-striped box-shadow">
      <thead>
        <tr>
          <th>Union</th>
          <th>Picture</th>
          <th>Person</th>
          <th>Invited By</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @people.each do |person| %>
          <tr class="">
            <td><%=render person.union if person.union%></td>
            <td>
              <%=profile_logo(person)%>
            </td>
            <td> <strong>
              <% if person.is_authorized?(current_person) %>
                <%=link_to person.display_name, edit_person_path(person)%>
              <% else %>
                <%=person.display_name%>
              <% end %>
              </strong>
              <%="<br/>#{person.title}".html_safe if person.title %>
              <%="<br/>#{person.union.short_name}".html_safe if person.union.short_name %>
            </td>
            <td>
              <% if person.invited_by %>
                <%=person.invited_by.display_name  %>
              <%="<br/><small>not yet accepted</small>".html_safe unless person.invitation_accepted_at || person.first_name == "Admin" %>
              <% else %>
                <small>not yet invited</small>
              <% end %>
            </td>
            <td><span class="glyphicon glyphicon-envelope"></span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
