<div class="col-sm-8 col-sm-offset-2"/>
  <p id="notice"><%= notice %></p>
  <%= link_to 'Invite someone', new_person_invitation_path, class: "btn btn-default pull-right" %>
    <h2 class="no-left-margin">People</h2>
    <table class="table table-condensed table-striped box-shadow">
      <thead>
        <tr>
          <th>Union</th>
          <th>Person</th>
          <th>Title</th>
          <th>Invited By</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @people.each do |person| %>
          <tr class="">
            <td><%=render person.union if person.union%></td>
            <td><%=render person %></td>
            <td><%=person.title %></td>
            <td><%=person.invited_by.display_name if person.invited_by %>
              <%="<br/><small>(not yet accepted)</small>".html_safe unless person.invitation_accepted_at || person.first_name == "Admin" %>
            </td>
            <td><span class="glyphicon glyphicon-envelope"></span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
