Hi <%=@person.first_name%>

<h1>An agreement has been received for <%= @rec.union.short_name %> and <%= @rec.company.short_name %></h1>

<p>
	<a href="<%=rec_url(id: @rec.id)%>">View Online</a>
</p>

<p>
	You received this because you are following either <%= @rec.union.short_name %> or <%= @rec.company.short_name %>
</p>
<p>
	<% if @rec.followers(Person).include?(@person) %>
		You are now following this agreement
	<% else %>
		Follow the agreement by clicking <a href="<%= follow_rec_url(@rec)%>">here</a>
	<% end %>
</p>