<%= form_for(@supergroup, :html => { class: "form"}) do |f| %>
  <% if @supergroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supergroup.errors.count, "error") %> prohibited this supergroup from being saved:</h2>

      <ul>
      <% @supergroup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class="form-group">
    <%= f.label :logo %><br>
    <%=logo_image%>
    <%= f.file_field :logo, class: "form-control", accept: 'image/jpeg,image/gif,image/png'  %>
    <% if @supergroup.logo.url.present? %>
      <%= f.check_box :remove_logo %>
      <small><%= f.label :remove_logo %></small>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :banner %><br>
    <%=banner_image%>
    <%= f.file_field :banner, class: "form-control", accept: 'image/jpeg,image/gif,image/png'  %>
    <% if @supergroup.banner.url.present? %>
      <%= f.check_box :remove_banner %>
      <small><%= f.label :remove_banner %></small>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :short_name %><br>
    <%= f.text_field :short_name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :www %><br>
    <%= f.text_field :www, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :country %><br>
    <%= f.country_select :country, {}, { class: 'form-control', style: "width: 100%" } %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn' %>
  </div>
<% end %>
