<% if notice.present? %>
  <p id="notice" class="alert alert-success text-center"><strong><%= notice %></strong></p>
<% end %>
<div class="outer-row">
  <div class="col-sm-8 col-sm-offset-2">
    <%= link_to "New #{supergroup.titlecase}", new_polymorphic_path(@klass), style: "margin-top: 15px",class: "btn btn-default pull-right" if owner? %>
    <% unless @supergroups.blank? %>
      <h2 class="no-left-margin"><%= t('.listing_supergroup', entity: t(".#{supergroup.downcase.pluralize}")) %></h2>
  
      <table class="table table-condensed table-striped box-shadow">
        <thead>
          <tr>
            <th><%= t('.logo') %></th>
            <th><%= supergroup.titlecase %></th>
            <th class="hidden-xs"><%= t('.country') %></th>
            <th class="hidden-xs"><%= t('.www') %></th>
            <th><%= t('.agreements') %></th>
          </tr>
        </thead>

        <tbody>
          <% @supergroups.each do |supergroup| %>
            <tr class="">
              <td style="vertical-align: middle"> 
                <% if supergroup.logo.url.blank? %>
                  <strong><%= supergroup.short_name || supergroup.name %></strong>
                <% else %>
                  <%= logo_thumb(supergroup) %>
                <% end %>
              </td>
              <td style="vertical-align: middle"><%=link_to supergroup.name, polymorphic_path(supergroup) %></td>
              <td class="hidden-xs" style="vertical-align: middle"><%=ISO3166::Country(supergroup.country).name if supergroup.country%></td>
              <td class="hidden-xs" style="vertical-align: middle"><%=link_to supergroup.www, "http://#{supergroup.www}"%></td>
              <td class="text-right" style="vertical-align: middle;"><%=supergroup.recs.count()%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
