<%= render 'notice' %>

<!-- Union or Company Listing -->
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <% if owner? || @klass == Company -%>
      <div class="text-right">
        <%= link_to t('.new_supergroup', entity: t("supergroups.new.#{supergroup.downcase}")), new_polymorphic_path(@klass), class: "btn btn-default" %>
      </div>
    <% end -%>
    <h1><%= t('.listing_supergroup', entity: t(".#{supergroup.downcase.pluralize}")) %></h1>

    <% unless @supergroups.blank? %>
      <table class="table table-condensed table-striped box-shadow">
        <thead>
          <tr>
            <th></th>
            <th><%= t(".#{supergroup}") %></th>
            <th class="hidden-xs"><%= t('.country') %></th>
            <th class="hidden-xs"><%= t('.www') %></th>
            <th class="text-right"><%= t('.agreements') %></th>
          </tr>
        </thead>

        <tbody>
          <% @supergroups.each do |supergroup| %>
            <tr class="valign-mid">
              <td>
                <% if supergroup.logo.url.blank? %>
                  <strong><%= supergroup.short_name || supergroup.name %></strong>
                <% else %>
                  <%= logo_thumb(supergroup) %>
                <% end %>
              </td>
              <td><%=link_to supergroup.name, polymorphic_path(supergroup) %></td>
              <td class="hidden-xs"><%=ISO3166::Country(supergroup.country).name if supergroup.country%></td>
              <td class="hidden-xs"><%=link_to supergroup.www, "#{supergroup.www}", target: "_blank" %></td>
              <td class="text-right"><%=supergroup.recs.count()%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <%= render 'empty' %>
    <% end %>
  </div>
</div>
