
<div class="col-sm-8 col-sm-offset-2"/>
  <h1 class="no-left-margin">
    <%= t('.request_invitation') %>
    <br><small><%= t('.introduce_yourself') %></small>
  </h1>

  <% unless @errors.blank? %> 
  <strong>Please correct the following errors </strong>
    <ul>
      <% @errors.each do |e| %>
        <li><%=e%></li>
      <% end %> 
    </ul>
  <% end %>

  <div id="compose_email">
      <%= form_tag help_request_invite_path do |f| %>
      <div class="form-group">
        <%= label_tag :email %><br>
        <%= text_field_tag :email, nil, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :first_name %><br>
        <%= text_field_tag :first_name, nil, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :last_name %><br>
        <%= text_field_tag :last_name, nil, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :title %><br>
        <%= text_field_tag :title, nil, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :affilitate_union %><br>
        <%= text_field_tag :affiliate_union, nil, class: "form-control" %>
      </div>
      <div>
        <%= label_tag :message %><br>
        <%= text_area_tag :message, nil, class: 'form-control', style: 'border: 1px solid #aaa; width: 100%', rows: 10 %>
        </div>
      <div>
        <%= submit_tag t('.send_request'), class: 'btn btn-default', style: 'margin-top:5px;' %>
        <!--  <small>You will be BCC'd</small> -->
      </div>
    <% end %> 
  </div>
</div>
