<p><%= t("devise.mailer.invitation_instructions.hello", first_name: @resource.first_name) %></p>

<p><%= t("devise.mailer.invitation_instructions.someone_invited_you", inviter: @resource.invited_by.display_name, union: @resource.invited_by.union.name,  url: root_url) %></p>

<p><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token, locale: I18n.locale) %></p>

<h1><%= t("devise.mailer.invitation_instructions.heading") %></h1>
<p>
   <%= t("devise.mailer.invitation_instructions.explanation") %>
</p>

<h1><%= t("devise.mailer.invitation_instructions.interested") %></h1>
<ol>
  <li>
  	<%= t("devise.mailer.invitation_instructions.step1", url:  link_to(t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token, locale: I18n.locale))).html_safe %>
</li>
  <li><%= t("devise.mailer.invitation_instructions.step2") %></li>
</ol>

<h1><%= t("devise.mailer.invitation_instructions.not_interested") %></h1>
<p><%= t("devise.mailer.invitation_instructions.somebody_else", url: link_to(t("devise.mailer.invitation_instructions.invite_temp_yourself"), new_person_invitation_url(locale: I18n.locale))).html_safe %></p>
<p><%= t("devise.mailer.invitation_instructions.ignore").html_safe %></p>

<%= t("devise.mailer.invitation_instructions.in_solidarity")%><br/>
<%= @resource.invited_by.display_name %><br/>
<%= "#{@resource.invited_by.title}<br/>".html_safe if @resource.invited_by.title.present?%>
<%= "#{@resource.invited_by.union.name}<br/>".html_safe %>

<br/>
<%= t("devise.mailer.invitation_instructions.ps")%>
