<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   


  <title><%= page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= page_colours %>
  <div id="wrap">
    <%= render "layouts/navbar" %>
    <div class="container-fluid content-area">
      <%= yield %>
    </div>
    <div id="push"></div>
  </div>
  <footer class="fixed-bottom flex flex-row flex-justify flex-center">
    <p class="flex-order-1 muted credit">
      © 2016 freeChange - Open Source Software for Social Change <!-- International Union of Food, Agricultural, Hotel, Restaurant, Catering, Tobacco and Allied Workers' Association-->
    </p>
    <div class="dropup flex-order-2">
      <button class="btn btn-default dropdown-toggle pull-right" id="languagePickerDropup" type="button" data-toggle="dropdown" aria-haspopup aria-expanded>
        <span class="glyphicon glyphicon-globe"></span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="languagePickerDropup">
        <% [["en", "English"], ["es", "Español"]].each do |key, locale| -%>
          <li><%= link_to locale, params.merge(locale: key) %>
        <% end -%>
      </ul>
    </div>
  </footer>

  <% if person_signed_in? %>
    <script type="text/javascript">
      function refresh_chat_icon(message) {
        $(".chat-badge").html(Object.keys(message.data).length);
      }
      function flash_message(message) {
        flash = '<div class="alert alert-info" style="z-index: 1000; position:fixed; right: 10px; top: 10px; box-shadow: 0 0 30px black;"><a href="/messages">' + message.eval + '</a></div>';
        $(flash).appendTo("#message-flash-zone").slideDown('fast').delay(3000).slideUp('slow');
        localise_time();
        $.playSound('/public/bleep');
      }
    </script>
    <%= subscribe_to "/presence", person_id: current_person.id, person_handle: current_person.display_name, callback: 'refresh_chat_icon' %>
    <%= subscribe_to "/messages/new", person_id: current_person.id, person_handle: current_person.display_name, callback: 'flash_message' unless params[:controller] == 'messages'%>
  <% end %>
</body>
</html>
